<p>PotaRecetteをご利用頂きありがとうございます。</p>
<p>パスワードを変更するために,下記URLからパスワードの再設定をお願いします。</p>
<p><%= link_to "パスワードを再設定する", "#{ENV['FRONTEND_URL']}/password-reset?reset_password_token=#{@token}" %></p>

<p>※上記のURLは発行より1時間まで有効です。</p>

<p>1時間経過してしまった場合は、お手数ですが以下より再度お手続きをお願いします。</p>
<p><%= link_to "パスワード再設定手続きを行う", "#{ENV['FRONTEND_URL']}/password-reset-request" %></p>

<p>本メールにお心あたりが無い場合は、破棄していただきますようよろしくお願いいたします。</p>

<p>※このメールアドレスは送信専用になっております。本メールに返信いただきましても、お答えする事はできませんのでご了承願います。</p>

<p>お問い合わせはこちらからお願いします。</p>
<p><%= link_to "お問い合わせ", "#{ENV['CONTACT_US_URL']}" %></p>
