<p>PotaRecette運営です。</p>
<p>アカウントのパスワードリセットが許可されました。</p>
<p>パスワードを変更するために下のリンクをクリックしてください。</p>

<p><%= link_to "パスワードを再設定する", "#{ENV['FRONTEND_URL']}/password-reset?reset_password_token=#{@token}" %></p>

<p>もしパスワードリセットを要求していない場合は、このメールを無視してください。</p>
